.card {
    position: relative;

    &__img {
        position: relative;
        width: auto;
        height: 211px;
        overflow: hidden;
    }

    &__content {
        background: var(--venture-neutral-white);
        padding: 24px;
        margin-right: 24px;
        position: relative;
        z-index: 1;
        box-shadow: var(--venture-shadow1);
        transform: translateY(-60px);
        transition:  transform 0.3s ease-out 0s;
        &:hover{
            transform: translateY(-80px);
        }
    }
}