* {
    box-sizing: border-box;
}

* {
    margin-top: 0;
}
html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    line-height: 1.5;
    @extend %font-weight-regular;
    @extend  %font-size-base;
    color: var(--venture-body-color);

}

a {
    @extend %font-weight-medium;
    text-decoration: none
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

%heading{
    @extend %font-weight-semibold;
}

h1,h2,h3,h4,h5,h6{
    @extend %heading;
}

hr{
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}