:root{
    @each $brandColor, $value in $brandColors{
        --venture-#{$brandColor}:#{$value};
    }
    @each $fontWeigh, $value in $fontWeights{
        --font-weight-#{$fontWeigh}:#{$value};
    }
    @each $shadow, $value in $shadows{
        --venture-#{$shadow}:#{$value};
    }
    @each $radius, $value in $borderRadius{
        --venture-radius-#{$radius}:#{$value};
    }

    --venture-body-color : #{$text};
    --venture-body-font-size : #{$base};
    --venture-body-font-medium : 0.875rem;
    --btn-border-width: #{$btn-border-width};
}