%d-flex{
    display: flex;
}

%d-inlineflex{
    display: inline-flex;
}

%a-center {
    align-items: center
}
%jcsb{
    justify-content: space-between
}
%jcc{
    justify-content: center;
}

%d-flex-jcac{
    @extend %d-flex;
    @extend %jcsb;
   @extend %a-center
}

%d-flex-jccac{
    @extend %d-flex;
    @extend %a-center;
    @extend %jcc;
}


%listnpm{
    list-style: none;
    padding: 0;
    margin: 0;
}